.TextField-Grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TextField-Grid span {
  margin-right: 10px;
}
.TextField-Grid span svg {
  font-size: 30px;
}

.StartEndBreakTextField label {
  color: #fff;
}
.BreakInProgressTextField label {
  color: #fff !important;
}
